*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url('/bg.jpeg');
    background-size: cover; */
    overflow: hidden;
    height: 100vh;
}

.taskbar{
    background-color: #d7e2f8;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    height: 45px;
}

/* 
.right{
    position: absolute;
    right: 0px;
    margin: 6px 0;
    height: 85%;
    mix-blend-mode: mul;
} */

.startmenu{
    position: absolute;
    bottom: -650px;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease-in-out;
    /* z-index: 0; */
}

.startmenu img{
    height: 600px;
    border-radius: 8px;
}
.icons{
    color: white;
}